<% if signed_in? %>
  <div class="row">
    <aside class="span4">
      <section>
        <%= render 'shared/user_info' %>
      </section>
      <section>
        <%= render 'shared/micropost_form' %>
      </section>
    </aside>
    <div class="span8">
      <h3>Tus chiflidos...</h3>
      <%= render 'shared/feed' %>
    </div>
  </div>  
<% else %>
<div class="center hero-unit">
  <h1>Bienvenido a XNet</h1>

  <h2>
    La red social que no necesitabas!
  </h2>

  <%= link_to "Para poder registrarte hacé click en el botón ridículamente grande sobre el cuál estás leyendo el presente texto, es decir, este mismo.", 
    signup_path , class: "btn btn-large btn-primary" %>
</div>

<%= link_to image_tag("rails.png", alt: "Rails", size: "42x70"), 'http://rubyonrails.org/' %>
<% end %> 