<% provide(:title, 'Sign up') %>
<h1>Registrate!</h1>
<div class="row">
  <div class="span6 offset3">
    <%= form_for(@user) do |f| %>
    <%= render 'shared/error_messages' %>

      <%= f.label :name, "Tu nombre?" %>
      <%= f.text_field :name %>

      <%= f.label :email, "Acá va tu correo" %>
      <%= f.text_field :email %>

      <%= f.label :password, "Necesitás una clave super secreta" %>
      <%= f.password_field :password %>

      <%= f.label :password_confirmation, "Ponela otra vez!" %>
      <%= f.password_field :password_confirmation %>
      <p>
      <p>
        <center>
      <%= f.submit "Listo!", class: "btn btn-large btn-primary" %>
        </center>
    <% end %>
  </div>
</div>